* {
    font-family: "Pixelify Sans";
    color:#F9F6EE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans-def {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background: #5180ac;
    margin: 0;
    font-size: 18px;
}

.jp {
    font-family: "DotGothic16", sans-serif;
    display: none;
}

section {
    padding: 20px;
}

#header {
    background-color: #282b58;
    text-align: center;
    height: 60px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.box{
    display: flex;
    align-items: flex-start;
    height: 500px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}

.headbox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.cont a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.cont a:hover {
    color:#8da2c7;
    text-decoration:underline;
    transition: 0.2s;
}

.lang {
  font-family: "Pixelify Sans", sans-serif;
  cursor: pointer;
  user-select: none;
}

.lang span {
  opacity: 0.5;
  transition: 0.2s;
}

.lang span.active {
  opacity: 1;
  color: #F9F6EE;
  text-decoration: underline;
}

.lang span:hover {
  opacity: 0.8;
}

.divider {
  margin: 0 6px;
  opacity: 0.3;
}

.icon{
    height: 24px;
    width: 24px;
    flex-shrink: 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.links .icon:hover path{
    fill:#8da2c7;
    transition: 0.2s;
}

#home {
    padding: 70px;
}

#education {
    background-color:#364f79;
}

.list {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


#skills h1 {
    margin-bottom: 30px;
}

#skills h2 span {
    text-decoration: underline #F9F6EE;
}
.skills {
    margin-right: 40px;
    text-align: left;
    flex: 1;
}

.content ul li {
    line-height: 30px;
}
.pic {
    position: relative;
    width: 100%;
    height: 418px;
    object-fit: contain;
}
img {
    height: 100%;
    width: auto;
    display: block;
}

#skills {
    background-color: #567e99;
}
.timeline {
    position: relative;
    margin-left: 15px;
    height: auto;
    max-width: 500px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 0;
    width: 2px;
    height: 100%;
    pointer-events: none;
    background: rgba(228, 229, 238, 0.4);
}

.timeline-item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
}

.timeline-dot {
    position: absolute;
    left: 0;
    top: 7px;
    width: 16px;
    height: 16px;
    background: #F9F6EE;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(145, 168, 204, 0.8);
}

.timeline-content h3 {
    color: #F9F6EE;
    font-size: 18px;
    margin-bottom: 5px;
}

.timeline-content label {
    color: #86a8c9;
}
.timeline-content span {
    display: inline-block;
    color: #F9F6EE;
    margin-bottom: 10px;
}
.bar { /* progress bar*/
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 3px
}

.fill {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #4aa3d8, #7cc6ff);
}

h1 {
    text-align: center;
    margin: 30px;
    text-shadow: 0 6px #243553
}

#home h1 {
    margin: 10px;
}

#education h1 {
    text-shadow: 0 6px #5889a7
}
#footer {
    background-color: #282b58;
    text-align: center;
}
#footer p {
    color: #8183af;
}
.dl-cv {
    display: inline-flex;
    background-color:#282b58;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: 0 12px 25px rgba(79, 129, 204, 0.35);
    padding: 16px 26px;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    text-decoration: none;
}

.dl-cv:hover{
    transform: translateY(-3px);
    box-shadow: 0 18px 35px rgba(99, 161, 241, 0.45);
    transition: 0.2s;
}

#home .pic img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 0.4s ease;
}
.img-def {
    opacity: 1;
}

.img-hov {
    opacity: 0;
}

#home .pic:hover .img-def{
    opacity: 0;
}

#home .pic:hover .img-hov{
    opacity: 1;
}